* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  border: 8px solid #252525;
  flex-direction: column;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;

  min-height: 150px;
  height: 30vh;
}
.header-name {
  font-size: 2em;
}
.main-header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.main-header-picture {
  border-radius: 50%;
  height: 100px;
  border: 5px solid #fbf7f6;
}
.main-header-name {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-left: 10px;
  color: #f2f2f2;
}
.main-header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.main-header-contacts {
  list-style: none;
  font-size: 1.2em;
  line-height: 24px;
  color: #f2f2f2;
}
/* Main */

main {
  display: flex;
  flex: 1;
  background-color: sienna;
  border: 2px solid rgb(33, 15, 51);
}
aside {
  flex: 1;
}
.content {
  flex: 3;
}
.content-items {
  border: 2px solid rgb(33, 15, 51);
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer {
  height: 5vh;
}
.portfolio-item {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(33, 15, 51);
}
.content-header {
  height: 5vh;
}

/* Footer */

@media all and (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }
  .main-header-right {
    display: none;
  }
}
