* {
  margin: 0;
}

.container {
  display: flex;
  /* box-sizing: border-box; */
  height: 100vh;
  border: 8px solid #252525;
  flex-direction: column;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;

  min-height: 150px;
  height: 30vh;
}
.header-name {
  font-size: 2em;
}
.main-header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.main-header-picture {
  border-radius: 50%;
  height: 100px;
  border: 5px solid #fbf7f6;
}
.main-header-name {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-left: 10px;
  color: #f2f2f2;
}
.main-header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.main-header-contacts {
  list-style: none;
  font-size: 1.2em;
  line-height: 24px;
  color: #f2f2f2;
}

/* Aside */
main {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0 20px;
  border: 2px solid #160704;
  background-color: #eaceca;
}

.aside-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.aside-img {
  margin: 0 5px;
  width: 18px;
  height: 18px;
}
.aside-header-h2 {
  margin: 16px 0;
}

/* Main */

.content {
  flex: 3;
}
.content-items {
  border: 2px solid rgb(33, 15, 51);
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer {
  height: 5vh;
}
.portfolio-item {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(33, 15, 51);
}
.content-header {
  height: 5vh;
}

/* Footer */
footer {
  min-height: 20px;
  height: 10vh;
  background-color: #333333;
  color: #f2f2f2;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

@media all and (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }
  .main-header-right {
    display: none;
  }
  .aside-header {
    align-items: center;
  }
}
