* {
  margin: 0;
}

.container {
  display: flex;
  /* box-sizing: border-box; */
  height: 100vh;

  flex-direction: column;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;

  min-height: 150px;
  height: 30vh;
}
.header-name {
  font-size: 2em;
}
.main-header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.main-header-picture {
  border-radius: 50%;
  height: 100px;
  border: 5px solid #fbf7f6;
}
.main-header-name {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-left: 10px;
  color: #f2f2f2;
}
.main-header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.main-header-contacts {
  list-style: none;
  font-size: 1.2em;
  line-height: 24px;
  color: #f2f2f2;
}

/* Aside */
main {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 0 20px;
  border: 2px solid #160704;
  background-color: #eaceca;
}

.aside-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.aside-img {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  filter: invert(5%) sepia(15%) saturate(2011%) hue-rotate(323deg)
    brightness(100%) contrast(103%);
}

.header-h2 {
  margin: 16px 0;
}

/* Main */

.content {
  flex: 3;
  border: 2px solid #160704;
  border-left: none;
}
.content-items {
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 2px solid #333333;
  margin: 0 10px 10px 0;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
  transition: all ease 500ms;
}
.content-card:hover {
  transform: scale(1.05);
}
.content-body {
  width: 100%;
  background-color: #ededed;
  height: 60%;
}
.content-card-footer {
  margin-top: 10%;
}

/* Footer */
footer {
  min-height: 5vh;
  background-color: #333333;
  color: #f2f2f2;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media all and (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }
  .main-header-right {
    display: none;
  }
  .aside-header {
    align-items: center;
  }
}
